# Dependencies
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Temp Source Image Directories
mobile-app/
social-media-post/
websites-mokups/
assets/images/project-social-*.png
